/* Journey to the Center of the Earth Practicum */
/*Seif Aly */

body{
    background-color: #a39a9a;
    border: 5px solid;
    border: color #765729; ;
    box-shadow: 7px 7px 7px;
}

header {
    margin-top: 5px;
    font-size: xx-large;
    padding-top: 5px;
    text-align:center;
    background-color: #765729;
    box-shadow: 10px 10px 10px

}

nav {
    text-align:center;
    font-family: 'Times New Roman';
    font-size: large;
margin: 0px;
border: 10px solid;
border-color: #765729;
background-color: #a39a9a;
box-shadow: 10px 10px 10px;
padding-top: 0rem;


}

h2 {
font-size: 50px;
border-bottom: dotted;
}

.character{
    font-style: italic;
    font-weight: bold;
    margin-right: 6px;
}

.lang{
    font-style: italic;
}



#cover {
float: left;
margin-right: 30px;
width: 250px;
display: flex;
align-items: center;
}

main{
    text-align: justify;
   
}

#cryptogram {
text-align: center;
align-items: center;
display: flex;
flex-direction: column;


margin-bottom: 50px;
}

aside {
    border: solid;
    border-top: 8px solid; 
    border-color: #4e3f33;
    margin-top: 70px;}

.submission {
border: 1px solid;
border-bottom: 1px solid;
}



footer{
padding-top: 5px;
 text-align: center;
 border: 5px solid;
 box-shadow: 4px 4px 4px 4px;
 margin-top: 20px;
}

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: auto;
    }
}
    figcaption {
        display: flex;
        justify-content: center;
    }

  @media screen and (max-width: 1060px) {
      aside {
          display: grid;
      }
  }
    
    