/* Journey to the Center of the Earth Practicum */
/*Seif Aly */

body{
    background-color: #a39a9a;
    margin: 30px;
    border: 5px solid;
    border: color #765729; ;
    box-shadow: 10px 10px 10px #4e3f33;
    background-image: linear-gradient(180deg #765729, black);
    background-attachment: fixed;
}

header {
    margin-top: 5px;
    font-size: xx-large;
    padding-top: 5px;
    text-align:center;
    background-color: #765729;
    box-shadow: 10px 10px 10px;
    background-image: url(../img/cave.jpg);
}
header h1 {
    color: white;
    padding: 10px;
    font-family: georgia;
    text-shadow: 2px 2px 2px;
    
}

nav {
    text-align:center;
    font-family: 'Times New Roman';
    font-size: large;
margin: 0px;
border: 10px solid;
border-color: #765729;
background-color: #a39a9a;
box-shadow: 10px 10px 10px;
padding-top: 0rem;


}

h2 {
font-size: 50px;
border-bottom: dotted;
}

.character{
    font-style: italic;
    font-weight: bold;
    margin-right: 6px;
}

.lang{
    font-style: italic;
}



#cover {
float: left;
margin-right: 20px;
width: 220px;
display: flex;
align-items: center;
margin-bottom: 10px
}

main{
    text-align: justify;
}
main p :first-of-type::first-line {
    font-size: 130%;
}

#cryptogram {
text-align: center;
align-items: center;
display: flex;
flex-direction: column;
margin-bottom: 50px;
}
#cryptogram img {
    width: 80%;
    max-width: 30rem;
}


aside {
    border: solid;
    border-top: 8px solid; 
    border-color: #4e3f33;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 70px;}
aside h2 {
    grid-column: 1/-1;
    font-size: 40px;
}

aside .signature{
    text-align: center;
}
    .signature {
        text-align: right;
        font-style: italic;
    }

.submission {
border: 1px solid;
border-bottom: 1px solid black;
margin: 10px;
padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}
a :hover{
    color: brown;
    text-decoration: underline;
}

footer{
padding-top: 5px;
 text-align: center;
 border: 5px solid;
 box-shadow: 4px 4px 4px 4px;
 margin-top: 20px;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
}

@media screen and (min-width: 760px) {

    #cryptograph{
align-items: center;
size-adjust: auto;
    }
    figure {
        display: grid;
        grid-template-columns: auto;
    }
}
    figcaption {
        display: flex;
        justify-content: center;
    }

  @media screen and (min-width: 1024px) {
      body {
          display: grid;
          grid-template-columns: auto 20rem;
          grid-template-areas: 
          "header header"
          "nav  nav"
          "main aside"
          "footer   footer";
          max-width: 1200px;
          margin-left: auto;
          margin-right: auto;
      }
      header {grid-area: header;}
      nav{grid-area: nav;}
      main {grid-area: main;}
      aside {grid-area: aside;}
      footer {grid-area: footer}
    }
aside {
    display: block;
}
  
      